h1{
    text-align: center;
    color: #ddd;
    background-color: blue;
}
body{
    background-color:#362;
}
nav{
    background-color: #333;
    margin-right: 250px;
   padding: 10px;
}


   
ul li{
    color: #ddd;
    margin: 20px;
    text-decoration: none;
    display: inline;
    background-color: blue;
    padding: 5px;
}
    

P{
    color: yellow;
}
img{
   height: 200px;
   width: 200px; 
   background-image: url("image/noe.jpg")   
}
